.mascotContainer {
  position: relative;
  display: inline-block;
}

.floatingWrapper {
  position: relative;
}

.mascotImage {
  width: 300px;
  height: 300px;
  object-fit: contain;
  filter: drop-shadow(0 20px 40px rgba(0, 0, 0, 0.3));
}

.crystal {
  filter: drop-shadow(0 0 10px currentColor);
}
